.raleway-normal{
  font-family: "Raleway", sans-serif;
}
/* shared */
.primary-color{
    color: #4E47FF;
}
.text-color{
    color: #252432;
}
/* nav */
header{
    background-image: url('../Assets/Hero-bg.png');
    
}
.nav-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px 210px 150px;
    padding-top: 50px;
}
.logo{
    font-weight: 900;
    font-size: 34px;
    font-family: Arial, Helvetica, sans-serif;
}
.btn-primary{
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 36px;
    color: white;
    border: none ;
    border-radius: 10px;
}
/* banner */
.banner-text{
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 37px;
}
.btn{
    margin: 0 633px 152px 633px;
}
main{
    width: 1140px;
    margin: auto;
}
/* Action section */
.title{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 23px;
}
.action-text{
color: rgb(37 ,36, 50, 0.5);
width: 517px;
font-size: 24px;
margin-bottom: 23px;
}
.wc-mini{
    border-radius: 48px;
}
.Action{
    display: flex;
    gap: 220px;
    align-items: center;
    justify-content: center;
    margin-top: 116px;
}
/* user-sec */
.user-sec{
    background-color: rgba(78, 71, 255, 0.1);
    
    border-radius: 24px;
    text-align: center;
    padding: 50px 142px;
    margin-top: 116px;
}
.user-title{
    font-size: 38px;
    font-weight: 700px;
}
.followers{
    display: flex;
    justify-content: center;
    gap: 158px;
    margin-top: 40px;
    
   
}
.num{
    font-weight: bold;
    font-size: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
     
}
.center{
    text-align: center;
}
/* Feedback section */
.card-flex{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.card{
    background-color: rgba(255, 255, 255, 0.50);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: 1px solid #F2EDED;
    width: 300px;
    border-radius: 14px;
    padding: 24px 0px 24px 24px;
}
.heading{
    font-size: 24px;
    font-weight: 600px;
    color: #1E1E1E;
    margin-top: 24px;
}
.card-des{
    font-size: 16px;
    font-weight: 400;
     color: #1E1E1E;
     margin-top: 8px;
}
.review{
    display: flex;
    gap: 6px;
    align-items: center;
    margin-top: 24px;
}
.avater{
    border-radius: 50%;
}
.r-name{
    font-size: 16px;
    font-weight: 600;
    color: #757575;
}
.date{
     font-size: 16px;
    font-weight: 400;
    color: #757575;

}
.sec-gap{
    margin-top: 137px;
}
/* webflow */
.shadow{
    box-shadow:0 4px 4px 0 rgba(0, 0, 0, 0.25); 
     border-radius: 14px;
      border: 1px solid #F2EDED;

}
.web-title{
    font-size: 50px;
    font-weight: bold;
    color: black;
}
.web{
    padding: 71px 150px;
}
.web-des{
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}
.margin-top{
    margin-top: 20px;
}
.web-img{
    border-radius: 48px;
  
}
/* form */
.form-text{
    font-weight: bold;
    font-size: 97px;
}
label{
    font-size: 18px;
    font-weight: 600;
  
}
input,textarea{
    border: none;
    border-radius: 10px;
     box-shadow:0 4px 4px 0 rgba(0, 0, 0, 0.25); 
     border: 1px solid #F2EDED;
     width: 497px;
     padding: 20px 0 20px 32px;
     font-size: 20px;
       margin-top: 10px;
}
.form-margin{
    margin-bottom: 20px;
}
.form-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
    margin-top: 100px;
}
.footer{
    box-shadow:0 4px 4px 0 rgba(0, 0, 0, 0.25); 
    border: 1px solid #F2EDED;
    padding: 104px 0 104px 0;

}
.footer-logo{
    font-size: 100px;
    font-weight: 1000;
    font-family: Arial, Helvetica, sans-serif;
}
.f-text{
    color: #8987A1;
    text-align: center;
    
}
ul{
    display: flex;
    gap: 48px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    color:#8987A1 ;
}