.raleway-normal{
  font-family: "Raleway", sans-serif;
}
/* shared */
.primary-color{
    color: #4E47FF;
}
.text-color{
    color: #252432;
}
/* nav */
header{
    background-image: url('../Assets/Hero-bg.png');
    
}
.nav-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px 210px 150px;
    padding-top: 50px;
}
.logo{
    font-weight: 900;
    font-size: 34px;
}
.btn-primary{
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 36px;
    color: white;
    border: none ;
    border-radius: 10px;
}
/* banner */
.banner-text{
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 37px;
}
.btn{
    margin: 0 633px 152px 633px;
}
main{
    width: 1140px;
    margin: auto;
}
/* Action section */
.title{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 23px;
}
.action-text{
color: rgb(37 ,36, 50, 0.5);
width: 517px;
font-size: 24px;
margin-bottom: 23px;
}
.wc-mini{
    border-radius: 48px;
}
.Action{
    display: flex;
    gap: 220px;
    align-items: center;
    justify-content: center;
    margin-top: 116px;
}
/* user-sec */
.user-sec{
    background-color: rgba(78, 71, 255, 0.1);
    
    border-radius: 24px;
    text-align: center;
    padding: 50px 142px;
    margin-top: 116px;
}
.user-title{
    font-size: 38px;
    font-weight: 700px;
}
.followers{
    display: flex;
    justify-content: center;
    gap: 158px;
    margin-top: 40px;
    
   
}
.num{
    font-weight: bold;
    font-size: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
     
}
.center{
    text-align: center;
}